@import "../../../css/variables.scss";

.filter {
  padding: 0.8rem;

  &__searchBar {
    background-color: white;
    margin: 0 0.5rem 2rem;
    border: 1px $borderColor solid;
    border-radius: 44px;

    &__searchIcon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-right: 1rem;
      position: absolute;
    }

    &__searchInput {
      color: $textColor;
      font-size: 1rem;
      padding: 0rem 2rem;
      width: 95vw;
      border-color: transparent;
      background-color: transparent;
      outline: none;
    }
  }

  &__contests {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }
}
