@import "../../../css/variables.scss";

.filter {
  padding: 0.8rem;

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__criteria {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }

  &__searchBar {
    background-color: white;
    margin: 0 0.5rem 0rem;
    border: 1px $borderColor solid;
    border-radius: 44px;

    &__searchIcon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-right: 1rem;
      position: absolute;
    }

    &__searchInput {
      color: $textColor;
      font-size: 1rem;
      padding: 0rem 2rem;
      border-color: transparent;
      width: 70vw;
      background-color: transparent;
      outline: none;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tab {
    margin: 0;
    padding: 0.2rem;
    font-size: 2rem;

    background-color: $mainColor;
    color: white;
    border: white solid 1px;

    cursor: pointer;

    &:hover {
      background-color: white;
      border-color: $mainColor;
      color: $mainColor;
    }

    &--active {
      background-color: white;
      border-color: $mainColor;
      color: $mainColor;
    }

    &--left {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    &--right {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }

  &__contests {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
  }
}

@media screen and (max-width: $sm) {
  .filter {
    &__contests {
      margin: 2rem;
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 1rem;
    }

    &__criteria {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }

    &__actions {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (min-width: $sm) and (max-width: $md) {
  .filter {
    &__contests {
      margin: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }

    &__criteria {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }

    &__actions {
      display: flex;
      align-items: center;
    }
  }
}
