.home__bg {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/bgImage/cameraMain.jpg") fixed center;
  background-size: cover;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
