@import "../../css/variables.scss";

.contest {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
  }

  &__action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0.5rem;
  }

  &__button {
    border: white;
    background-color: $mainColor;
    cursor: pointer;
    border-radius: 50%;
    margin: 0.2rem;
    padding: 0.5rem;

    &:hover {
      box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__label {
    margin: 0rem;
  }

  &__card {
    background: white;
    border-radius: 5px;
    width: 100%;
    height: 20vh;
    margin: 1rem 0;
    cursor: pointer;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &--main {
      height: calc(100% - 5rem);
      margin: 0;
      width: 100%;
      cursor: auto;
    }
  }

  &__likeButtons {
    display: flex;
    align-items: center;

    @media (max-width: 485px) {
      width: 90%;
      justify-content: center;
      margin-bottom: 0.5rem;
    }

    .contest__numLikes:last-of-type {
      margin-left: 1rem;
    }
  }

  &__list {
    width: 30%;
    max-height: 100%;
    overflow: auto;
    padding: 0 0.5rem;
    scroll-behavior: smooth;

    @media (max-width: 700px) {
      width: 40%;
      margin-top: 2rem;
    }
  }

  &__listName {
    display: none;
    @media (max-width: 700px) {
      text-align: center;
      display: block;
    }
  }

  &__like {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 485px) {
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  &__numLikes {
    font-size: 1.5rem;
    margin: 0 0 0 1rem;

    &:last-of-type {
      margin-left: 3rem;
    }

    @media (max-width: 485px) {
      &:last-of-type {
        margin-left: 0;
      }
    }
  }

  &__featured {
    height: 100%;
    width: 65%;

    @media (max-width: 700px) {
      width: 90%;
      height: 70vh;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0 0 2rem;
    cursor: pointer;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 68%;

    @media (max-width: 1180px) {
      width: 75%;
    }

    @media (max-width: 1000px) {
      width: 85%;
    }

    @media (max-width: 850px) {
      width: 95%;
    }
  }

  &__name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 70%;

    @media (max-width: 1180px) {
      width: 75%;
    }

    @media (max-width: 1000px) {
      width: 85%;
    }

    @media (max-width: 850px) {
      width: 95%;
    }

    @media (max-width: 700px) {
      flex-direction: column-reverse;
      align-items: center;
      height: auto;
    }
  }

  &__preview {
    &--likes {
      text-align: right;
      margin-top: 0;
    }
  }
}
